<p-toast [style]="{marginTop: '80px'}"></p-toast>

<div style="text-align: right; margin: 2em;">
    <button pButton type="button" icon="pi pi-plus"  (click)="showBasicDialog()" label="Add Task" class="ui-button-info" style="margin-right: .25em;"></button>
    <button pButton type="button" icon="pi pi-plus"  (click)="showBasicCalender()" label="Show Task Calender" class="ui-button-info" style="margin-right: .25em;"></button>
</div>
<div style="margin: 2em;">
    <p-table #dt [value]="tasksList"  styleClass="ui-table-customers" [globalFilterFields]="['text','creator'] " [rowHover]="true" >

        <ng-template pTemplate="caption">
            All Tasks
            <div class="ui-table-globalfilter-container">
                <input class="ui-column-filter" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
            </div>
        </ng-template>
        <ng-template pTemplate="header">

            
            <tr>
                <th></th>
                <th pSortableColumn="text">Task <p-sortIcon field="text"></p-sortIcon></th>
                <th pSortableColumn="creator">Creator <p-sortIcon field="creator"></p-sortIcon></th>
                <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                <th pSortableColumn="start">Start <p-sortIcon field="start"></p-sortIcon></th>
                <th pSortableColumn="end">End <p-sortIcon field="end"></p-sortIcon></th>
               
            
            </tr>
            <tr>
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'text', 'startsWith')" placeholder="Search by task" class="ui-column-filter">
                </th>
                <th>
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'creator', 'contains')" placeholder="Search by creator" class="ui-column-filter">
                </th>
                <th>
                    <p-dropdown [options]="statuses" (onChange)="dt.filter($event.value, 'isCompleted', 'equals')" styleClass="ui-column-filter" placeholder="Select a Status" [showClear]="true">
                        <ng-template let-option pTemplate="item">
                            <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>

                </th>
                <th> 
                    <p-calendar (onSelect)="onDateSelect($event,'start')" (onClearClick)="dt.filter('', 'start', 'equals')" [showButtonBar]="true" styleClass="ui-column-filter" placeholder="Start Date" [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>
                </th>
                <th>
                    <p-calendar (onSelect)="onDateSelect($event,'end')" (onClearClick)="dt.filter('', 'end', 'equals')" [showButtonBar]="true" styleClass="ui-column-filter" placeholder="End Date" [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>
                </th>
               
                </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task>
            <tr class="ui-selectable-row">
                <td>
                    <p-tableCheckbox [value]="task"></p-tableCheckbox>
                </td>
                <td>
                    <span class="ui-column-title">Task</span>
                    {{task.text}}
                
                </td>
                <td>{{task.creator}}</td>
                <td>
                    <p-checkbox name="globalTasksStatusGroup" binary="task.isCompleted"  [(ngModel)]="task.isCompleted" (ngModelChange)="save($event)"></p-checkbox>
                    <span [class]="task.isCompleted?'customer-badge status-complete':'customer-badge status-incomplete'">{{task.isCompleted?'Complete':'Incomplete'}}</span>
                </td>
                <td>{{task.start}}</td>
                <td>{{task.end}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6" style="text-align:center">No tasks found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Add Task" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="ui-fluid p-formgrid p-grid">
        
        <div class="p-field p-col-12">
            <label for="task">Task</label>
            <input id="task" type="text" pInputText formControlName="text"> 
             <div *ngIf="submitted && f.text.errors" class="invalid-feedback">
                <div *ngIf="f.text.errors.required">Task  is required</div>
            </div>
      </div>
        <div class="p-field p-col-12 p-md-6">
            <label for="creator">Creator</label>
            <input id="creator" type="text" formControlName="creator" pInputText> 
            <div *ngIf="submitted && f.creator.errors" class="invalid-feedback">
                <div *ngIf="f.creator.errors.required">Creator  is required</div>
            </div>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label for="state">Task by</label>
            <p-dropdown formControlName="taskBy" inputId="state" [options]="tasksType"  placeholder="Select" optionLabel="name"></p-dropdown>
            <div *ngIf="submitted && f.creator.errors" class="invalid-feedback">
                <div *ngIf="f.creator.errors.required">Task by  is required</div>
            </div>
      
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label for="zip">Start date</label>
            <p-calendar  formControlName="start"  [showButtonBar]="true" styleClass="ui-column-filter" placeholder="Start Date" [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>
            <div *ngIf="submitted && f.start.errors" class="invalid-feedback">
                <div *ngIf="f.start.errors.required">Start date  is required</div>
            </div> 
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label for="zip">End date</label>
            <p-calendar  formControlName="end" [showButtonBar]="true" styleClass="ui-column-filter" placeholder="End Date" [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>
            <div *ngIf="submitted && f.end.errors" class="invalid-feedback">
                <div *ngIf="f.end.errors.required">End date is required</div>
            </div>
       
        </div>
    </div>
<p-footer>
    <button type="submit" pButton icon="pi pi-check"  label="Save"></button>
    <button type="button" pButton icon="pi pi-times"  label="Reset" class="ui-button-secondary" (click)="onReset()"></button>
</p-footer>
</form>
</p-dialog>

<p-dialog header="Task Calender" [(visible)]="displayCalender"  [baseZIndex]="10000">

    <p-fullCalendar [events]="tasksEvents" [options]="options"></p-fullCalendar>

</p-dialog>


