
<header>
      <div class="topnav">
      
      <div class="topnav-centered">
        <a href="#home" class="active">Tasks Control</a>
      </div>
    
    
    
      
      <div class="topnav-right">
        <a href="#search">My Task :  {{myTask}}</a>
        <a href="#about">Team Task:  {{personalTask}}</a>
      </div>
    
    </div>



</header>

<div class="sidebar">
  <nav>
    <ul>
      <li><a  routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/tasks" routerLinkActive="active">Tasks</a></li>
    </ul>
  </nav>
 
</div>


<div class="content" role="main">

  <div class="right-content">
    <router-outlet></router-outlet>
  </div>

</div>

<footer>
Tasks Control
</footer>
