/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    min-height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Open Sans,Helvetica Neue,sans-serif;
    font-weight: 400;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    background: #f7f7f7;
}
.customer-badge {
    border-radius: 2px;
    padding: .25em .5em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
    margin: 1.5em;

    &.status-complete {
        background-color: #C8E6C9;
        color: #256029;
    }

    &.status-incomplete {
        background-color: #FFCDD2;
        color: #C63737;
    }
}