<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-panel header="Global Tasks" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
    <p-table [value]="globalTasksList">
        <ng-template pTemplate="header">
            <tr>
            <th>Task</th>
            <th>Creator</th>
            <th>Status</th>
            <th>Start</th>
            <th>End</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task>
            <tr>
                <td>{{task.text}}</td>
                <td>{{task.creator}}</td>
                <td>
                    <p-checkbox name="globalTasksStatusGroup" binary="task.isCompleted"  [(ngModel)]="task.isCompleted" (ngModelChange)="save($event)"></p-checkbox>
                    <span [class]="task.isCompleted?'customer-badge status-complete':'customer-badge status-incomplete'">{{task.isCompleted?'Complete':'Incomplete'}}</span>
                </td>
                <td>{{task.start}}</td>
                <td>{{task.end}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<p-panel [style]="{'margin-bottom':'20px'}">
    <p-header>
        <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Personal Tasks</span>
            
        </div>
    </p-header>
    <p-table [value]="personalTasksList">
        <ng-template pTemplate="header">
            <tr>
            <th>Task</th>
            <th>Creator</th>
            <th>Status</th>
            <th>Start</th>
            <th>End</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task>
            <tr>
                <td>{{task.text}}</td>
                <td>{{task.creator}}</td>
                <td>
                    <p-checkbox name="personalTasksStatusGroup" binary="task.isCompleted"  [(ngModel)]="task.isCompleted" (ngModelChange)="save($event)" ></p-checkbox>
                    <span [class]="task.isCompleted?'customer-badge status-complete':'customer-badge status-incomplete'">{{task.isCompleted?'Complete':'Incomplete'}}</span></td>
                <td>{{task.start}}</td>
                <td>{{task.end}}</td>
            </tr>
        </ng-template>
    </p-table>

</p-panel>

    <p-panel [style]="{'margin-bottom':'20px'}">
        <p-header>
            <div class="ui-helper-clearfix">
                <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Team Leader Tasks</span>
               
            </div>
        </p-header>
        <p-table [value]="teamLeaderTasksList">
            <ng-template pTemplate="header">
                <tr>
                <th>Task</th>
                <th>Creator</th>
                <th>Status</th>
                <th>Start</th>
                <th>End</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-task>
                <tr>
                    <td>{{task.text}}</td>
                    <td>{{task.creator}}</td>
                    <td>
                        <p-checkbox name="leaderTasksStatusGroup" binary="task.isCompleted"  [(ngModel)]="task.isCompleted" (ngModelChange)="save($event)"></p-checkbox>
                        <span [class]="task.isCompleted?'customer-badge status-complete':'customer-badge status-incomplete'">{{task.isCompleted?'Complete':'Incomplete'}}</span></td>
                    <td>{{task.start}}</td>
                    <td>{{task.end}}</td>
                </tr>
            </ng-template>
        </p-table>
    <!-- <p-footer>
        <button pButton type="button" icon="pi pi-plus" label="New" class="ui-button-info" style="margin-right: .25em"></button>
        <button pButton type="button" icon="pi pi-search" label="View" class="ui-button-success"></button>
    </p-footer> -->
</p-panel>